<div class="trendy-prod-cont">
  <div class="trendy">
    <div class="trendy-img-cont">
      <img class="trendy-img" src="assets/images/trendy1.png">
    </div>

    <div class="overlay1">
      <div class="over-text">
      </div>
    </div>
    <div class="upperlay">
    </div>
    <div class="trendy-text">
      <div >
        <p>The witcher</p>
        <h1>wild hunt</h1>
      </div>
      <div class="upperlay-btn">
        <button class="shop-now-btn">shop now</button>
      </div>
    </div>
  </div>
  <div class="trendy">
    <div class="trendy-img-cont">
      <img class="trendy-img" src="assets/images/trendy1.png">
    </div>

    <div class="overlay2">
      <div class="over-text">
      </div>
    </div>
    <div class="upperlay">

    </div>
    <div class="trendy-text">
      <div >
        <p>The witcher</p>
        <h1>wild hunt</h1>
      </div>
      <div class="upperlay-btn">
        <button class="shop-now-btn">shop now</button>
      </div>
    </div>
  </div>

</div>
