<div class="carsoul-container">
  <div class="carsoul">
    <div class="carsoul-text">
      <h5>The wood that enhance your beauty in your home</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <button class="carsoul-btn">Buy Now</button>
    </div>
    <div class="carsoul-img-cont">
      <img class="carsoul-img"  src="../../../assets/images/carsoul.jpg">
    </div>
    <div class="carsoul-sliders">
      <div class="btn-left">
        <fa-icon class="mx-2" [icon]="faAngleLeft"></fa-icon>
      </div>
      <div class="btn-right">
        <fa-icon class="mx-2" [icon]="faAngleRight"></fa-icon>
      </div>
    </div>
  </div>
</div>
