<div class="container" [dir]="'direction' | translate">
  <div class="detailed-product-cont">
    <div class="detailed-product-img">
<div class="detailed-product-gallery">
<div class="image-cont">
  <img class="detailed-img" [src]="detailedProduct?.imageCover">
</div>
</div>
<div class="product-other-images">
<div *ngFor="let img of images" class="other-images">
  <!-- <div class="layer"></div> -->
  <img class="w-100" [src]="img">
</div>

</div>
    </div>
    <div class="detailed-product-text">
      <h5 class="title">{{detailedProduct?.title}}</h5>
      <h1 class="model"></h1>
      <p class="description">{{detailedProduct?.description}}</p>
      <p class="price"><fa-icon [icon]="faDollar"></fa-icon><span>{{detailedProduct?.price}}</span> <span class="discount">50%</span></p>
      <p class="discount-value"><fa-icon [icon]="faDollar"></fa-icon> <span>250</span> </p>
      <div class="detailed-product-btns">
        <div>
          <button class="inc-dec">
            <span class="inc">+</span>
            <span>0</span>
            <span class="dec">-</span>
          </button>
        </div>
        <div>
          <button (click)="addToCart()" class="add-to-cart"><fa-icon [icon]="faCartShopping"></fa-icon>add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
