<div class="main-home">
  <h1 class="main-home-header">shop by category</h1>
  <div class="container">
    <ul class="categ-list">
      <li>
        <div class="categ-img">
          <img src="assets/images/categ1.jpeg">
        </div>
      </li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ1.jpeg">
        </div></li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ3.jpeg">
        </div></li>
      <li>
        <div class="categ-img">
          <img src="assets/images/categ1.jpeg">
        </div>
      </li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ3.jpeg">
        </div></li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ3.jpeg">
        </div></li>
      <li>
        <div class="categ-img">
          <img src="assets/images/categ1.jpeg">
        </div>
      </li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ1.jpeg">
        </div></li>
      <li>  <div class="categ-img">
          <img src="assets/images/categ3.jpeg">
        </div></li>
        <li>
          <div class="categ-img">
            <img src="assets/images/categ1.jpeg">
          </div>
        </li>

    </ul>
    <!-- <div class="progress-circle" data-progress="70"></div> -->
    <app-trendy-products></app-trendy-products>
    <app-product></app-product>
    <app-deals></app-deals>
  </div>
</div>
